/* ---sidebar--- */

.sidebar-wrap {
  margin: 98px 70px 0 48px;
}

/* ---sidebar-about--- */
.sidebar-about {
  max-width: 272px;
  margin-bottom: 75px;
  font-family: Playfair Display;
  color: #626262;
}

.sidebar-about-img {
  margin-bottom: 29px;
}

.sidebar-about-img img {
  max-width: 100%;
  margin-bottom: 29px;
}

.sidebar-about-content {
  margin-left: -5px;
}

.sidebar-about-title {
  margin-bottom: 21px;
  font-size: 1.87em;
}

.sidebar-about-txt {
  margin-bottom: 26px;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-size: 0.81em;
}

.sidebar-about-sns {
  margin-left: -8px;
}

.sidebar-about-sns-list {
  display: flex;
  list-style: none;
}

.sidebar-about-sns-item {
  margin-right: 16px;
}

/* ---sidebar-posts--- */
.sidebar-posts-title {
  margin-bottom: 36px;
  font-size: 0.93em;
  color: #b4b1ab;
}

.sidebar-posts-list {
  margin-bottom: 55px;
}

.sidebar-posts-item {
  margin-left: 20px;
  padding-left: 22px;
  font-family: Playfair Display;
  color: #b4b1ab;
}

.sidebar-posts-item:not(:last-child) {
  margin-bottom: 31px;
}

.sidebar-posts-item-title {
  margin-bottom: 17px;
  color: #626262;
}

.sidebar-posts-item a {
  display: block;
  text-decoration: none;
}

.sidebar-posts-item-comments {
  font-family: 小塚ゴシック Pr6N;
  font-size: 0.81em;
  color: #b4b1ab;
}