/* ---header-mv-wrap--- */

.header-mv-wrap {
  max-width: 100%;
  margin: 68px 68px 0 69px;
}

/* ---header--- */

.header {
  margin-bottom: 72px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.header-nav-list-item {
  display: inline-block;
  margin-left: 4em;
}

.header-nav-list-item a {
	display: block;
	padding: .4em .8em;
	text-decoration: none;
  text-align: center;
  font-family: PlayfairDisplay;
  font-size: 0.87em;
  color: #626262;
}


/* ---mv--- */

.mv {
  background-image: url(../minimo/images/main.jpg);
  background-position: bottom;
  background-size: cover;
  margin-bottom: 100px;
  height: 630px;
  max-width: 100%;
}
